#{extends 'main.html' /}
#{set title:'About Us' /}


<div id="subcontent">
<h2 class="title">Who is Soup Love?</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ipsum ligula, mattis id dictum vitae, sodales ac mi. Suspendisse nec felis ornare risus mattis facilisis nec in neque. Sed pulvinar ipsum et neque gravida nec varius sapien vehicula. Donec at tortor in nisl mollis sollicitudin quis non erat. Fusce ultrices ante vitae lorem semper imperdiet. Aenean eget justo odio. In consectetur posuere egestas.</p>

<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec faucibus pellentesque turpis, nec cursus nisi lobortis quis. Curabitur auctor hendrerit justo, vitae dictum massa iaculis vitae. Vivamus gravida placerat diam, commodo congue tortor posuere ornare.</p>
<br />

<h2 class="pagetitle">Our Vision</h2>
<ul class="four-column" style="text-align:center">
	<li>
		<img src="@{'/public/images/icon/i-about1.png'}" alt="" class="aligncenter" />
		<h3>Control &amp; Manage</h3>
		<p>Morbi dui arcu, tempor ac vehicula nec. Nunc aliquet, lacus vitae ultrices sodales, nunc est sollicitudin nisi, non mollis augue urna ut felis. </p>
	</li>
	<li>
		<img src="@{'/public/images/icon/i-about2.png'}" alt="" class="aligncenter" />
		<h3>Making The Cart Up</h3>
		<p>Morbi dui arcu, tempor ac vehicula nec. Nunc aliquet, lacus vitae ultrices sodales, nunc est sollicitudin nisi, non mollis augue urna ut felis. </p>
	</li>
	<li>
		<img src="@{'/public/images/icon/i-about3.png'}" alt="" class="aligncenter" />
		<h3>Protection Guarantee</h3>
		<p>Morbi dui arcu, tempor ac vehicula nec. Nunc aliquet, lacus vitae ultrices sodales, nunc est sollicitudin nisi, non mollis augue urna ut felis. </p>
	</li>
	<li class="last">
		<img src="@{'/public/images/icon/i-about1.png'}" alt="" class="aligncenter" />
		<h3>Safety and Legal</h3>
		<p>Morbi dui arcu, tempor ac vehicula nec. Nunc aliquet, lacus vitae ultrices sodales, nunc est sollicitudin nisi, non mollis augue urna ut felis. </p>
	</li>
</ul>

	<div class="clear"></div><!-- clear float -->
			</div><!-- end #maincontent-->
   
   