#{extends 'main.html' /}
#{set title:'Blog' /}

	
			<div id="maincontent">
                <h2 class="pagetitle">Our Blog</h2>
                <div class="post">
                	<ul class="entry-utility">
                    	<li class="i-user">Post by: <a href="#">Admin</a></li>  
                        <li class="i-comm"><a href="#">10 Comments</a></li>  
                        <li class="i-tag"><a href="#">Soups</a></li>
                    </ul>
                    <div class="post-shadow">
                    <img src="@{'/public/images/content/post1.jpg'}" alt="" />
                    </div>
                    <span class="postdate">August 28, 2011</span> 
                    <h2 class="posttitle"><a href="single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></h2>

                    <div class="entry-content">
                        <p>Fusce malesuada urna nec quam rhoncus sodales. In iaculis augue augue. Fusce imperdiet placerat dictum. Mauris mauris quam, pretium sollicitudin congue eu, malesuada non dui. Sed nec arcu quis nisl rhoncus vestibulum. Quisque facilisis imperdiet rhoncus. Nam porta libero id orci ornare id pellentesque sapien suscipit. Vivamus non dapibus sapien. Fusce pellentesque, augue eget euismod scelerisque, diam justo accumsan odio, non bibendum justo risus et nisl.</p>
                        <a class="more" href="single.html">Continue Reading</a>
                    </div><!-- end .entry-content -->
              </div><!-- end .post1 -->

                <div class="post">
                	<ul class="entry-utility">
                    	<li class="i-user">Post by: <a href="#">Admin</a></li>  
                        <li class="i-comm"><a href="#">10 Comments</a></li>  
                        <li class="i-tag"><a href="#">Soups</a></li>
                    </ul>
                    <div class="post-shadow">
                    <img src="@{'/public/images/content/post2.jpg'}" alt="" />
                    </div>
                    <span class="postdate">August 25, 2011</span> 
                    <h2 class="posttitle"><a href="single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></h2>

                    <div class="entry-content">
                        <p>Fusce malesuada urna nec quam rhoncus sodales. In iaculis augue augue. Fusce imperdiet placerat dictum. Mauris mauris quam, pretium sollicitudin congue eu, malesuada non dui. Sed nec arcu quis nisl rhoncus vestibulum. Quisque facilisis imperdiet rhoncus. Nam porta libero id orci ornare id pellentesque sapien suscipit. Vivamus non dapibus sapien. Fusce pellentesque, augue eget euismod scelerisque, diam justo accumsan odio, non bibendum justo risus et nisl.</p>
                        <a class="more" href="single.html">Continue Reading</a>
                    </div><!-- end .entry-content -->
              </div><!-- end .post1 -->

                <div class="post">
                	<ul class="entry-utility">
                    	<li class="i-user">Post by: <a href="#">Admin</a></li>  
                        <li class="i-comm"><a href="#">10 Comments</a></li>  
                        <li class="i-tag"><a href="#">Soups</a></li>
                    </ul>
                    <div class="post-shadow">
                    <img src="@{'/public/images/content/post3.jpg'}" alt="" />
                    </div>
                    <span class="postdate">August 20, 2011</span> 
                    <h2 class="posttitle"><a href="single.html">Lorem ipsum dolor sit amet, consectetur adipiscing elit. </a></h2>

                    <div class="entry-content">
                        <p>Fusce malesuada urna nec quam rhoncus sodales. In iaculis augue augue. Fusce imperdiet placerat dictum. Mauris mauris quam, pretium sollicitudin congue eu, malesuada non dui. Sed nec arcu quis nisl rhoncus vestibulum. Quisque facilisis imperdiet rhoncus. Nam porta libero id orci ornare id pellentesque sapien suscipit. Vivamus non dapibus sapien. Fusce pellentesque, augue eget euismod scelerisque, diam justo accumsan odio, non bibendum justo risus et nisl.</p>
                        <a class="more" href="single.html">Continue Reading</a>
                    </div><!-- end .entry-content -->
              </div><!-- end .post1 -->
              
                <div class="pagenavi">
                   <a href="" class="page">Previous</a><a href="" class="current">Next</a>
                </div><!-- end pagenavi -->
            
			  <div class="clear"></div><!-- clear float -->
			</div><!-- end #maincontent-->
            
            <div id="side">
				<ul>
					<li class="widget-container">
                        <h2 class="widget-title">Recent Post</h2>
                        <ul>
                            <li><a href="#">Soups</a></li>
                            <li><a href="#">Soups</a></li>
                            <li><a href="#">Soups</a></li>
                            <li><a href="#">Soups</a></li>
                        </ul>
					</li>
					<li class="widget-container">
                        <h2 class="widget-title">Archives</h2>
                        <ul>
                            <li><a href="#">August 2011</a></li>
                            <li><a href="#">July 2011</a></li>
                            <li><a href="#">June 2011</a></li>
                            <li><a href="#">February 2011</a></li>
                        </ul>
					</li>
				</ul>
			</div><!-- end #side-->	
	
   
    
