#{extends 'main.html' /}
#{set title:'Gallery' /}
    
<script type="text/javascript">
	jQuery(document).ready(function(){
	   /* portfolio gallery */
		jQuery("a[rel^='prettyPhoto']").prettyPhoto({animationSpeed:'slow',theme:'facebook',slideshow:2000});	
	});
</script>

<div id="subcontent">
<h2 class="pagetitle">Gallery</h2>
<div id="ts-display-portfolio">
	<ul id="ts-display-pf-col-4">
		<li>
			<div class="ts-display-pf-img">
				<a class="image" href="@{'/public/images/content/pf/pf4_1.jpg'}" rel="prettyPhoto[mixed]" >
				<span class="rollover"></span>
				<img src="@{'/public/images/content/pf/pf4_1.jpg'}" alt=""/></a>
			</div>
			<div class="ts-display-clear"></div>
	
		</li>
		<li>
			<div class="ts-display-pf-img">
				<a class="image" href="@{'/public/images/content/pf/pf4_2.jpg'}" rel="prettyPhoto[mixed]" >
				<span class="rollover"></span>
				<img src="@{'/public/images/content/pf/pf4_2.jpg'}" alt="" /></a>	
			</div>
			<div class="ts-display-clear"></div>
		</li>
		<li>
			<div class="ts-display-pf-img">
				<a class="image" href="@{'/public/images/content/pf/pf4_3.jpg'}" rel="prettyPhoto[mixed]" >
				<span class="rollover"></span>
				<img src="@{'/public/images/content/pf/pf4_3.jpg'}" alt="" /></a>	
			</div>
			<div class="ts-display-clear"></div>
		</li>
		<li  class="nomargin">
			<div class="ts-display-pf-img">
				<a class="image" href="@{'/public/images/content/pf/pf4_4.jpg'}" rel="prettyPhoto[mixed]" >
				<span class="rollover"></span>
				<img src="@{'/public/images/content/pf/pf4_4.jpg'}" alt=""/></a>
			</div>
			<div class="ts-display-clear"></div>
	
		</li>
		<li>
			<div class="ts-display-pf-img">
				<a class="image" href="@{'/public/images/content/pf/pf4_5.jpg'}" rel="prettyPhoto[mixed]" >
				<span class="rollover"></span>
				<img src="@{'/public/images/content/pf/pf4_5.jpg'}" alt="" /></a>	
			</div>
			<div class="ts-display-clear"></div>
		</li>
		<li>
			<div class="ts-display-pf-img">
				<a class="image" href="@{'/public/images/content/pf/pf4_6.jpg'}" rel="prettyPhoto[mixed]" >
				<span class="rollover"></span>
				<img src="@{'/public/images/content/pf/pf4_6.jpg'}" alt="" /></a>	
			</div>
			<div class="ts-display-clear"></div>
		</li>
		<li>
			<div class="ts-display-pf-img">
				<a class="image" href="@{'/public/images/content/pf/pf4_7.jpg'}" rel="prettyPhoto[mixed]" >
				<span class="rollover"></span>
				<img src="@{'/public/images/content/pf/pf4_7.jpg'}" alt=""/></a>
			</div>
			<div class="ts-display-clear"></div>
	
		</li>
		<li class="nomargin">
			<div class="ts-display-pf-img">
				<a class="image" href="@{'/public/images/content/pf/pf4_8.jpg'}" rel="prettyPhoto[mixed]" >
				<span class="rollover"></span>
				<img src="@{'/public/images/content/pf/pf4_8.jpg'}" alt="" /></a>	
			</div>
			<div class="ts-display-clear"></div>
		</li>
	</ul>
	</div>
<div class="pagenavi">
   <a href="" class="page">Previous</a><a href="" class="current">Next</a>
</div><!-- end pagenavi -->

   
	<div class="clear"></div><!-- clear float -->
			</div><!-- end #maincontent-->
    