#{extends 'main.html' /}
#{set title:'login' /}


<div id="maincontent">
<!-- 	<h2 class="pagetitle">Log In</h2> -->

<!-- 	<div id="login-process"> -->
<!-- 	<span class="first">&nbsp;</span> -->
<!-- 	<span>Summary</span> -->
<!-- 	<span class="active">Login</span> -->
<!-- 	<span> Address</span> -->
<!-- 	<span> Shipping</span> -->
<!-- 	 <span class="last"> Payment</span> -->
<!-- 	 <div class="clear"></div> -->
<!-- 	</div> -->
<!-- 	<br /><br /><br /> -->
	
<!-- 	<h2 class="title">Create your account</h2> -->
<!-- 	<p>Enter your email address to create an account.</p> -->
<!-- 	<form method="post" action="" id="loginform1"> -->
<!-- 	<fieldset> -->
<!-- 	<label>E-mail Address</label><br /> -->
<!-- 	<input type="text"  class="text-input"/><br /> -->
<!-- 	<input type="button" class="button but-red" value="Create your account" /> -->
<!-- 	</fieldset> -->
<!-- 	</form> -->
<!-- 	<br /> -->
<!-- 	<br /> -->
	
	<h2 class="title">Already Registered?</h2>
	#{ifErrors}
	   <h1><span class="error">Oops. Please Correct the Information..</span></h1>
	#{/ifErrors}
	 #{form @Application.check() , id:'creationForm'}
		<fieldset>
			<label>E-mail Address</label><br />
			<input type="text"  class="text-input" name="email"/><span class="error">#{error 'name' /}</span><br />
			<label>Password</label><br />
			<input type="password" class="text-input" name="password"/><span class="error">#{error 'password' /}</span><br /><br />
			<input type="submit" class="button but-red" value="Account login" />
	    </fieldset>
    #{/form}
    </br>
	<a href="@{index()}">Forgot Your Passowrd</a></br>
	
	<a href="@{Application.register()}">Create Account</a></br>
<!-- 	<input type="button" class="button but-red" value="Create your account" onclick="/@Application.register()"/> -->
	
	<div class="clear"></div><!-- clear float -->
</div><!-- end #maincontent-->
           
	   
          