#{extends 'main.html' /}
#{set title:'Lost Password' /}

<h2 class="title">Password Renewel</h2>
#{ifErrors}
	   <h1><span class="error">The email Address is incorrect</span></h1>
#{/ifErrors}
 #{form @Application.password() , id:'loginform1'}
	<fieldset>
		#{field 'SoupUser.email'}
			<p class="${field.errorClass}">
				<label>E-mail Address</label><br />
				<input type="text"  class="text-input" name="${field.name}" value="${SoupUser?.email}"/> *  
				<span class="error">${field.error}</span> <br />
			</p>
		#{/field}
		
		<input type="submit" class="button but-red" value="Send New Password" />
	</fieldset>
#{/form}