#{extends 'main.html' /}
#{set title:'My Account' /}

			<div id="side" class="left">
				<ul>
					<li class="widget-container">
                        <h2 class="widget-title">Featured Soup</h2>
                        <div class="imgglow">
                        <img src="@{'/public/images/content/pic8.jpg'}" alt="" />
                        </div>
                                             
                        <h5 class="title-desc">Product Description:</h5>
                       	<p>Praesent gravida, sapien eget ultrices facilisis, neque dolor scelerisque odio, quis blandit ligula nunc et magna. Donec dolor elit, volutpat vitae fringilla sed, auctor et ligula. Aenean tempor vehicula tincidunt. Cras convallis dapibus odio, at pulvinar justo vulputate et.</p>
                        
                        <h5 class="title-desc">Refinements:</h5>
                        Paprika<br />
						Onions<br />
						Breadcrumbs<br />
						<br />

                        <h5 class="title-desc">Size:</h5>
                        Small<br />
						Medium<br />
						Large<br />
						<br />    
                        
                        <h5 class="title-desc">Price:</h5>
                        € 0,00<br /><br />

                        <a href="#" class="more">Add to Wishlist</a>
					</li>
				</ul>
			</div><!-- end #side-->
            
			<div id="maincontent">
				<h2 class="pagetitle">Order History</h2>

                	<table id="Buying-cart" class="account">
						<tbody>
						<tr class="head">
						<th>Order</th>
						<th>Date</th>
						<th>Total Price</th>
						<th>Payment</th>
						<th>Status</th>
						<th class="noborder">Invoice</th>
						</tr>
						<tr>
							<td><a href="#">#000002</a></td>
							<td>2011-08-24</td>
							<td>€ 0,00</td>
							<td>Check</td>
							<td>Awaiting cheque payment</td>
							<td><a href="#">details</a></td>
						</tr>
						<tr class="even">
							<td><a href="#">#000002</a></td>
							<td>2011-08-24</td>
							<td>€ 0,00</td>
							<td>Check</td>
							<td>Awaiting cheque payment</td>
							<td><a href="#">details</a></td>
						</tr>
						<tr>
							<td><a href="#">#000002</a></td>
							<td>2011-08-24</td>
							<td>€ 0,00</td>
							<td>Check</td>
							<td>Awaiting cheque payment</td>
							<td><a href="#">details</a></td>
						</tr>
						<tr class="even">
							<td><a href="#">#000002</a></td>
							<td>2011-08-24</td>
							<td>€ 0,00</td>
							<td>Check</td>
							<td>Awaiting cheque payment</td>
							<td><a href="#">details</a></td>
						</tr>
						<tr>
							<td><a href="#">#000002</a></td>
							<td>2011-08-24</td>
							<td>€ 0,00</td>
							<td>Check</td>
							<td>Awaiting cheque payment</td>
							<td><a href="#">details</a></td>
						</tr>
						<tr class="even">
							<td><a href="#">#000002</a></td>
							<td>2011-08-24</td>
							<td>€ 0,00</td>
							<td>Check</td>
							<td>Awaiting cheque payment</td>
							<td><a href="#">details</a></td>
						</tr>
						<tr>
							<td><a href="#">#000002</a></td>
							<td>2011-08-24</td>
							<td>€ 0,00</td>
							<td>Check</td>
							<td>Awaiting cheque payment</td>
							<td><a href="#">details</a></td>
						</tr>
						<tr class="even">
							<td><a href="#">#000002</a></td>
							<td>2011-08-24</td>
							<td>€ 0,00</td>
							<td>Check</td>
							<td>Awaiting cheque payment</td>
							<td><a href="#">details</a></td>
						</tr>
						<tr>
							<td><a href="#">#000002</a></td>
							<td>2011-08-24</td>
							<td>€ 0,00</td>
							<td>Check</td>
							<td>Awaiting cheque payment</td>
							<td><a href="#">details</a></td>
						</tr>
						<tr class="even">
							<td><a href="#">#000002</a></td>
							<td>2011-08-24</td>
							<td>€ 0,00</td>
							<td>Check</td>
							<td>Awaiting cheque payment</td>
							<td><a href="#">details</a></td>
						</tr>
						<tr>
							<td><a href="#">#000002</a></td>
							<td>2011-08-24</td>
							<td>€ 0,00</td>
							<td>Check</td>
							<td>Awaiting cheque payment</td>
							<td><a href="#">details</a></td>
						</tr>
						<tr class="even">
							<td><a href="#">#000002</a></td>
							<td>2011-08-24</td>
							<td>€ 0,00</td>
							<td>Check</td>
							<td>Awaiting cheque payment</td>
							<td><a href="#">details</a></td>
						</tr>
						<tr>
							<td><a href="#">#000002</a></td>
							<td>2011-08-24</td>
							<td>€ 0,00</td>
							<td>Check</td>
							<td>Awaiting cheque payment</td>
							<td><a href="#">details</a></td>
						</tr>
						<tr class="even">
							<td><a href="#">#000002</a></td>
							<td>2011-08-24</td>
							<td>€ 0,00</td>
							<td>Check</td>
							<td>Awaiting cheque payment</td>
							<td><a href="#">details</a></td>
						</tr>
						</tbody>
					</table>
				<div class="clear"></div><!-- clear float -->
			</div><!-- end #maincontent-->
	
   
