#{extends 'main.html' /}
#{set title:'Product Details' /}

<div id="subcontent">
<h2 class="pagetitle">Product Detail</h2>
<div id="product-details">
	<div id="product-img"><img src="@{'/public/images/content/pic5.jpg'}" alt="" /></div>
	<div id="product-description">
		<h2>Soup: X</h2>
		<h5 class="title-desc">Product description:</h5>
		<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Etiam malesuada viverra velit et egestas. Curabitur et sodales felis. Aenean tincidunt fermentum luctus. Phasellus posuere iaculis turpis ut gravida. Mauris mattis leo quis diam commodo tempor. Cras malesuada enim sed nunc pulvinar adipiscing. Nam aliquet, enim quis mollis laoreet, eros quam cursus turpis, in porta ligula ligula sed lacus. Maecenas convallis sollicitudin tempus. Donec libero erat, placerat ac viverra sit amet, ultrices non mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
		<div class="one_third">
			<h5 class="title-desc">Refinements:</h5>
			Paprika<br />
			Onions<br />
			Breadcrumbs														
		</div>
		<div class="one_third">
			<h5 class="title-desc">Size:</h5>
			Small<br />
			Medium<br />
			Lage
		</div>
		<div class="one_third last">
			<h5 class="title-desc">Price:</h5>
			€ 0,00
		</div>
		<div class="clear"></div>
		<ul class="button-cart">
			<li><a href="#" class="addtowishlist but-red">Add to Wishlist</a></li>
			<li><a href="buying-cart.html" class="addtocart but-green">Add to Cart</a></li>
		</ul>
	</div>
	<div class="clear"></div>
</div><!-- #product-details -->
	
   	<div class="clear"></div><!-- clear float -->
			</div><!-- end #maincontent-->
    
