#{extends 'main.html' /}
#{set title:'Start Page' /}

<div id="subcontent">
	<div id="new-product">
		<ul class="three-column home">
			<li><h2>Tomato Soup</h2>
				<div class="imgglow"><img src="@{'/public/images/content/pic1.jpg'}" alt=""  /></div> 
				<p>Product description<span class="price">€ 0,00</span> </p>
				<span class="button-product"><a href="#">View more</a></span>                
			</li>
			<li><h2>Mushroom Soup</h2>
				<div class="imgglow"><img src="@{'/public/images/content/pic2.jpg'}" alt="" /></div> 
				<p>Product description <span class="price">€ 0,00</span></p>
				<span class="button-product"><a href="#">View more</a></span> 
			</li>
			<li class="last">
				<h2>Asparagus Cream Soup</h2>
				<div class="imgglow"><img src="@{'/public/images/content/pic3.jpg'}" alt="" /></div> 
				<p>Product description <span class="price">€ 0,00</span></p>
				<span class="button-product"><a href="#">View more</a></span> 
			</li>
		</ul>
		<div class="clear"></div><!-- clear float -->
	</div><!-- end #new-product -->
        
		
			<h2 class="title">Welcome to Soup Love</h2>
			<p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Duis ipsum ligula, mattis id dictum vitae, sodales ac mi. Suspendisse nec felis ornare risus mattis facilisis nec in neque. Sed pulvinar ipsum et neque gravida nec varius sapien vehicula. Donec at tortor in nisl mollis sollicitudin quis non erat. Fusce ultrices ante vitae lorem semper imperdiet. Aenean eget justo odio. In consectetur posuere egestas.</p>

^			<p>Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Donec faucibus pellentesque turpis, nec cursus nisi lobortis quis. Curabitur auctor hendrerit justo, vitae dictum massa iaculis vitae. Vivamus gravida placerat diam, commodo congue tortor posuere ornare.</p>
			<br />

			<h2 class="title">Most Popular Soups</h2>
			<ul class="banner">
				<li><img src="@{'/public/images/banner/banner1.gif'}" alt="" /> </li>
				<li><img src="@{'/public/images/banner/banner2.gif'}" alt="" /> </li>
				<li><img src="@{'/public/images/banner/banner3.gif'}" alt="" /> </li>
				<li><img src="@{'/public/images/banner/banner4.gif'}" alt="" /> </li>
				<li><img src="@{'/public/images/banner/banner5.gif'}" alt="" /> </li>                    
				<li><img src="@{'/public/images/banner/banner6.gif'}" alt="" /> </li>
				<li><img src="@{'/public/images/banner/banner7.gif'}" alt="" /> </li>
			</ul>
	

	<div class="clear"></div><!-- clear float -->
			</div><!-- end #maincontent-->
   
    